---
const platform = "github";
const username = "ryanghoward";
---

<footer>
  <p>
    Learn more about my projects on <a
      target='_blank'
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
