---
// const platform = "github";
// const username = "ryanghoward";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <!-- <p>
    Learn more about my projects on <a
      target='_blank'
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p> -->
  <Social target='_blank' platform='GitHub' username='ryanghoward' />
  <Social target='_blank' platform='Instagram' username='ryanghoward' />
  <Social target='_blank' platform='LinkedIn' username='/in/ryangeorgehoward' />
</footer>
