---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: cyan;
    background: #4c1d95;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  a:hover {
    color: white;
    transition: 0.3s;
    /* scale: 50%; */
  }
</style>
